@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url(./ui/button.css);
@import url(./ui/header.css);
@import url(./ui/footer.css);
@import url(./ui/fonts.css);


h1 {
    @apply text-2xl;
}

h2 {
    @apply text-xl;
}

.app-font { 
    font-family: 'Lobster', cursive;
}

.header {
    height: 50px;
    padding: 10px 20px 10px 20px;
}

.main-content {
    height: calc(100vh - 50px - 40px);
    color: white;
}

.footer {
    height: 40px;
}

button:hover {
    border: 0px;
    cursor: pointer;
}

.grid-container {
    display: grid;
}

.grid-container > * {
    height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
}

:root {
    --main-bg-color: #1E1E1E;
}